In [77]:
from bs4 import BeautifulSoup
import re


def get_unit_data(block):
    soup = BeautifulSoup(
        open(f"./html_sources/{block}.html"),
        "html.parser"
    )
    units = soup.find("div",{"id": "blockDetails"}).find_all("table")[1].find("tbody").find_all("td")
    price_regex = r"^(\$\d+,\d+)<br/>_*<br/>(\d+)"

    units_details = []
    
    for unit in units:
        detail = unit.find("font").attrs
        floor, unit_number = detail["id"].split("-")
        price, area = re.findall(price_regex, detail["title"])[0]
        units_details.append({
            "block_number": block,
            "floor": floor,
            "unit_number": unit_number,
            "price": price,
            "area": area,
        })
    return units_details

In [78]:
data = []

blocks = [
    "436A",
    "436B",
    "437A",
    "437B",
    "442A",
    "443A",
    "445A",
    "445B",
]

for block in blocks:
    data.extend(get_unit_data(block))

In [79]:
import pandas as pd

df = pd.DataFrame(data)
df.to_csv("prices.csv")

In [80]:
df

    block_number floor unit_number     price area
0           436A   #02        1539  $436,000  113
1           436A   #03        1539  $442,900  113
2           436A   #04        1539  $449,800  113
3           436A   #05        1539  $456,700  113
4           436A   #06        1539  $461,300  113
..           ...   ...         ...       ...  ...
398         445B   #04         746  $484,900  113
399         445B   #05         746  $492,300  113
400         445B   #06         746  $497,200  113
401         445B   #07         746  $502,100  113
402         445B   #08         746  $502,100  113

[403 rows x 5 columns]

In [41]:
unit = soup.find("div",{"id": "blockDetails"}).find_all("table")[1].find("tbody").find_all("td")[0]

In [44]:
unit

<td onclick="bookMarkCheck('','#02-1539')" style="font-size:12px; text-align:center;">
<font class="e-more-info has-tip tip-bottom" data-tooltip="" data-width="150" id="#02-1539" title="$436,000&lt;br/&gt;____________________&lt;br/&gt;113 Sqm">
<a><font color="#000099">#02-1539</font>
<font color="#000099" id="#02-1539bk" style="display:none;">+</font></a>
</font>
</td>

In [56]:
detail = unit.find("font")

In [58]:
detail.attrs["title"]

'$436,000<br/>____________________<br/>113\xa0Sqm'

In [60]:
detail.attrs

{'data-tooltip': '',
 'data-width': '150',
 'class': ['e-more-info', 'has-tip', 'tip-bottom'],
 'title': '$436,000<br/>____________________<br/>113\xa0Sqm',
 'id': '#02-1539'}

In [66]:
import re

regex = r"^(\$\d+,\d+)<br/>_*<br/>(\d+)"

test_str = "$436,000<br/>____________________<br/>113\\xa0Sqm"
matches = re.find(regex, test_str)

AttributeError: module 're' has no attribute 'find'

In [67]:
matches

[('$436,000', '113')]